RewriteEngine On
RewriteBase /

DirectoryIndex index.php

RewriteRule ^home$ /index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ /pages/$1.php [L]