form input,
form button {
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container {
    display: flex;
    padding: 70px;
    background-color: rgba(4, 14, 20, 0.5);
    backdrop-filter: blur(4px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-h1 {
    margin: 0 0 25px 0; /* Margin bottom 25px */
    font-family: "Space Grotesk", "Poppins", sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    display: inline;
    color: inherit;
    font-family: inherit;
    width: 250px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 40px; /* Padding right 20px left 40px */
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.login-form .email-input,
.login-form .username-input {
    margin-bottom: 0;
}

.login-form input::placeholder {
    font-family: "Poppins", "boxicons";
    color: inherit;
}

.form-input:placeholder-shown + i {
    opacity: 1;
}

.form-icon {
    width: fit-content;
    margin-left: 15px;
    font-size: 14px;
    transform: translateX(100%);
    transform: translateY(200%);
}

.remember-input {
    width: fit-content;
    margin: 0 4px 0 0 !important; /* Margin right 4px */
}

.remember-container {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 24px; 
}

.remember-container input {
    width: fit-content !important;
    margin-right: 5px;
}

.remember-container label {
    font-size: 13px;
    color: inherit;
}

.remember-container span {
    cursor: pointer !important;
    color: inherit;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.login-button {
    color: inherit;
    font-family: inherit;
    font-weight: 500;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 24px;
    transition: all 0.3s ease;
}

.login-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input:focus-visible {
    outline: 1px solid rgba(255, 255, 255, 0.25);
}
